*   {
    margin: 0;
  }
  
  html, body    {
      color: #00ff00;
      background-image: url("");
      border-color: #dddddd;
      font-size: 18px;
      line-height: 34px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      width: 100%;  
      height: 100%;
        	
  }
  .wrapper  {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
  }

  .monitor  {
      position: fixed;
      width: 100%;
      height: auto;
      z-index: -1;
  }

  #game {
    position: fixed;
    border-style: double;
    border-color: aliceblue;  
    margin-left: 25%;
    margin-right: 30%;
    margin-top: 15%;
    padding: 1% 3% 1% 3%;

  }
  /* #container    {
      width: 100%;
      max-width: 960px;
      margin: 0 auto;
      clear: both;	
  } */
  
  .footer, .push {
    height: 4em;
    text-align: center;
  }

  .crystalball  {
      position: fixed;
      width: 500px;
      height: auto;
      margin-left: 30%;
      margin-top: 5%;
  }